# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build
bin
.settings
node_modules
.eslintcache
dist
results/
a-cli/cases/
a-cli/data/
a-cli/suites/
a-cli/ui/

